#logo {
    font-size: 100px;
    font-family: 'Georgia';
    font-weight: bold;
}

.stylish-input-group .input-group-addon{
    background: white !important;
    font-size: 25px;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    font-size: 18px;
    height: 50px;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}


.search-info {
    font-size: 18px;
    margin-top: 10px;
}

.hide {
    display: none;
}

.highlights {
    background-color: #FFFF00;
    display: inline-block;
}

.node {
  stroke: #fff;
    stroke-width: 1.5px;
}

.link {
  stroke: #999;
    stroke-opacity: .6;
}

.container-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
}

.node-relations li {
    margin-bottom: 5px;
}
